$contactWidget-backgroundColor: #F36221;
$contactWidget-secondaryColor: #292631;
$ButtonOneBorder:#F57C46;
$contactWidget-fontColor: #ffffff;
.contactWidgetContainer{
    background-color: $contactWidget-backgroundColor;
    font-size: 0.875em;
    border-radius: 2px;
    width:320px;
    position:fixed;
    bottom:0; 
    right:50px;
    transition-property: all;
    transition-duration:2.5s;
    transition-delay: .2s; 
    &.hide{
        transform: translateY(93.65%);
    }
    svg{
        transition-property: all;
        transition-duration: 2.5s;
        transition-delay: .2s;
        &.hide{
            transform: rotate(180deg);
        }
    }
    .form-control{
        font-size:.875em;
    }
    label,legend{
        color:$contactWidget-fontColor;
        border-radius: 2px;
        font-size: 0.875em;
    }
    .notesLabel{
        font-size: 0.75em;
    }
    label.required:before{
        color:$contactWidget-fontColor !important;
    }
    .button-one{
        width:100%;
        background-color: $contactWidget-backgroundColor;
        border:1px solid $contactWidget-backgroundColor;
        border-bottom: 1px solid $ButtonOneBorder;
        text-align: left;
        color:$contactWidget-fontColor;
        font-size: 0.875em;
        font-weight: bold;
    }
    .button-two{
        color: $contactWidget-fontColor;
        font-size:1em;
        width:100%;
        background-color: $contactWidget-secondaryColor;
        border:none;
        font-weight: bolder;
    }
}
.successMessageModal{
    .modal-inner{
        background-color: $contactWidget-backgroundColor;
        color:$contactWidget-fontColor;
        font-size: 1.25em;
        font-weight: bold;
        letter-spacing: .5px;
    }
    .modal-close{
        color: $contactWidget-secondaryColor;
    }
} 