$backgroundColor: #F36221;
$white: #ffffff;
$secondaryColor: #292631;
$toggleButtonBorder:#F57C46;

.contactWidgetContainer{
    background-color: $backgroundColor;
    font-size: 14px;
    border-radius: 2px;
    width:300px;
    position:fixed;
    bottom:0; 
    right:50px;
    -webkit-transform: height 100%;
    transform:height 100%;
    transition-property: all;
    transition-duration:2.5s;
    transition-timing-function:transform 100s ease-in-out;
    transition-delay: .2s; 
    &.hide{
        -webkit-transform: translateY(93.65%);
        transform: translateY(93.65%);
        transition-property: all;
        transition-duration: 2.5s;
        transition-timing-function:transform 100s ease-in-out;
        transition-delay: .2s;
    }
    svg{
        transition-property: all;
        transition-duration: 2.5s;
        transition-timing-function:transform 100s ease-in-out;
        transition-delay: .2s;
        &.hide{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            transition-property: all;
            transition-duration: 2.5s;
            transition-timing-function:transform 100s ease-in-out;
            transition-delay: .2s;
        }
    }
    label,legend{
        color:$white;
        border-radius: 2px;
        font-size: 14px;
    }
    .notesLabel{
        font-size: 12px;
    }
    label.required:before{
        color:$white !important;
    }
    .button-one{
        width:100%;
        background-color: $backgroundColor;
        border:1px solid $backgroundColor;
        border-bottom: 1px solid $toggleButtonBorder;
        text-align: left;
        color:$white;
        font-size: 14px;
        font-weight: bold;
    }
    .button-two{
        color: $white;
        font-size:16px;
        width:100%;
        background-color: $secondaryColor;
        border:none;
        font-weight: bolder;
    }
    .custom-select{
        background: url("../../svg/chevron-down.svg") no-repeat right 0.75rem center/20px $white;
    }
}
.successMessageModal{
    .modal-inner{
        background-color: $backgroundColor;
        color:$white;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: .5px;
    }
    .modal-close{
        color: $secondaryColor;
    }
} 