.pre-outstanding {
    background-color: $orange-light;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    @media #{$medium} {
        padding-bottom: 200px;
    }
    @media #{$large} {
        padding-bottom: 300px;
    }
}

.outstanding-fw {
    img {
        display: block;
        width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 2;
    }

    @media #{$medium} {
        margin-top: -200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: solid 1px $black;
    }

    @media #{$large} {
        margin-top: -300px;
    }

    .ofw-item {
        position: relative;

        max-width: rem(400);
        margin: 0 auto;

        .ofw-quote {
            background: $black;
            color: $white;
            padding: 1.5rem;
            transition: opacity 200ms ease-in-out;
            font-size: rem(14);
            border-radius: rem(6);
        }

        @media #{$medium} {
            width: 33.33%;

            .ofw-quote {
                border-radius: 0;
                padding: 1.5rem;
                min-height: 230px;
            }
        }

        @media #{$large} {
            border-bottom: solid 1px $black;
            margin-bottom: -1px;
            cursor: pointer;
            .ofw-quote {
                opacity: 0;
                position: absolute;
                top:60px;
                text-align: left;
                width: rem(670);
                font-size: 1rem;
                overflow: hidden;
                padding: rem(43) rem(73) rem(43) rem(213);
                background-image: url('/images/top-left-quote.svg'), url('/images/bottom-right-quote.svg');
                background-position: 25% 15%, 75% 85%;
                background-repeat: no-repeat;
                border-radius: rem(6);
            }

            &:nth-child(1) .ofw-quote,
            &:nth-child(2) .ofw-quote {
                left: 50%;
            }

            &:nth-child(3) .ofw-quote {
                right: 50%;
                padding-left: rem(73);
                padding-right: rem(213);

                background-position: 3% 9%, 75% 85%;
            }


            &.active {
                z-index: 5;
                .ofw-quote {
                    opacity: 1;
                }
            }
        }
    }


}
