@mixin make-badge($background, $color: color-contrast($background)) {
    background: $background;
    color: $color !important;

    a {
        color: $color;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

@mixin make-badge-outline($color) {
    border-color: $color;
    background: transparent;
    color: $color !important;

    a {
        color: $color;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $border-radius;

    svg {
        vertical-align: top;
    }
}

@each $color,
$value in map-merge($themeColors, $colors) {
    .badge-#{$color} {
        @include make-badge($value);
    }

    .badge-outline-#{$color} {
        border: solid 1px;
        @include make-badge-outline($value);
    }
}
