.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: $border-radius;
    transition: all 0.15s ease-in-out;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }

    &:focus {
        outline: 0;
        // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .feather {
        width: 1.2em;
        height: 1.2em;
        position: relative;
        vertical-align: middle;
    }
    .feather-check {
        top: -2px;
    }

    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.65;
    }
}

@mixin make-button(
    $background,
    $border,
    $color: color-contrast($background),
    $hover-background: scale-color($background, $lightness: -15%),
    $hover-border: scale-color($border, $lightness: -20%),
    $hover-color: color-contrast($hover-background),
    $active-background: $hover-background,
    $active-border: $hover-border,
    $active-color: $hover-color
) {
    background-color: $background;
    border-color: $border;
    color: $color;

    &:hover,
    &:focus {
        background-color: $hover-background;
        border-color: $hover-border;
        color: $hover-color;
    }
    &:active,
    &.active {
        background-color: $active-background;
        border-color: $active-border;
        color: $active-color;
    }
}

.btn-link {
    color: $primary;
    font-weight: inherit;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

@mixin make-outline-button(
    $color,
    $color-hover: color-contrast($color),
    $active-background: $color,
    $active-border: $color,
    $active-color: color-contrast($active-background)
) {
    border-color: $color;
    color: $color;

    &:hover,
    &:focus {
        background-color: $color;
        border-color: $color;
        color: $color-hover;
    }
    &:active,
    &.active {
        background-color: $active-background;
        border-color: $active-border;
        color: $active-color;
    }
}

@each $color, $value in $themeColors {
    .btn-#{$color} {
        @include make-button($value, $value);
    }
    .btn-outline-#{$color} {
        @include make-outline-button($value);
    }
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: $font-size-lg;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: $font-size-sm;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
    margin-left: -1px;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
    position: relative;
    flex: 1 1 auto;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn.active,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn:focus,
.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus {
    z-index: 1;
}

button.close {
    background: transparent;
    border-color: transparent;
    height: auto;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #444648;
    opacity: 0.8;
    margin-right: 0;
    margin-left: 0.5em;
    padding: 0;
}
