.table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-radius: $border-radius;

    th {
        font-weight: bold;
    }

    th,
    td {
        padding: 6px 13px;
        border: 1px solid $border-color;
        text-align: left;
    }
    tr {
        background-color: $white;
        border-top: 1px solid $border-color;
    }

    thead th {
        border-bottom-width: 2px;
    }

    &.striped tr:nth-child(2n) {
        background-color: $light;
    }

    &.full-width {
        width: 100%;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

    table {
        font-size: 1rem;
    }
    td {
        display: block;
    }

    td:before {
        content: attr(data-title);
        font-weight: bold;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    @media #{$medium} {
        table {
            font-size: rem(13);
        }
        thead tr {
            position: static;
        }
        td {
            display: table-cell;
        }
        td:before {
            content: none;
        }
    }
}