* {
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

html,
body {
    background-color: $white;
}

body {
    margin: 0;
    -webkit-overflow-scrolling: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

hr {
    height: rem(1);
    background-color: $gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    border: none;
    box-sizing: content-box;
    overflow: visible;
}

img {
    border-style: none;
}

.rounded {
    border-radius: $border-radius !important;
}
.rounded-pill {
    border-radius: rem(1000) !important;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.site-row {
    box-sizing: border-box;

    @media #{$large} {
        flex-direction: row;
        display: flex;
        flex: 0 1 auto;
        flex-wrap: wrap;
    }
}
