// BASE STYLES
// -----------------------------
// For styling elements directly

* {
    box-sizing: border-box;
}

body {
    background-color: $base-backgroundColor;
}

img,
object,
embed {
    max-width: 100%;
}

hr {
    margin: spacer() 0;
    border: none;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
}

super {
    font-size: 0.7em;
    vertical-align: super;
}
