body {
    // -webkit-font-smoothing: antialiased;
    color: $base-fontColor;
    font-family: $base-fontFamily;
    font-size: $base-fontSize;
    line-height: $base-lineHeight;
}

p {
    margin: 0 0 spacer();
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-expanded {
    letter-spacing: 0.1em;
}

%txt-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

%txt-break {
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-fontFamily;
    line-height: $header-lineHeight;
    margin: 0 0 spacer(.5);
    font-weight: normal;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}
