body {
    color: $font-color;
    font-family: $font-family;
    font-size: 1rem;
    font-size: $font-size-base;
    line-height: $line-height;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;

    code {
        color: inherit;
    }
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

b,
strong {
    font-weight: 600;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
}

small {
    font-size: 0.875rem;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.lead {
    font-size: rem(24);
    line-height: rem(40);
    font-weight: $light-weight;
}

.icon-align {
    display: inline-block;
    margin-right: 0.2rem;
    position: relative;
    top: 2px;
}

// Text align
.txt-center {
    text-align: center !important;
}

.txt-right {
    text-align: right !important;
}

.txt-left {
    text-align: left !important;
}

// Font Weight
.fw-normal {
    font-weight: 400 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-light {
    font-weight: 300 !important;
}

// Whitespace
.text-normal {
    white-space: normal;
}

.text-nowrap {
    white-space: nowrap;
}

.text-pre {
    white-space: pre;
}

.text-pre-line {
    white-space: pre-line;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

// Vertical Align
.align-middle {
    vertical-align: middle !important;
}

.align-top {
    vertical-align: top !important;
}

.align-baseline {
    vertical-align: baseline !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

// Font style
.italic {
    font-style: italic !important;
}

.not-italic {
    font-style: normal !important;
}

// Line Height Helpers
.lh-1 {
    line-height: 1 !important;
}

.lh-sm {
    line-height: $line-height - 0.25 !important;
}

.lh-base {
    line-height: $line-height !important;
}

.lh-lg {
    line-height: $line-height + 0.5 !important;
}

@mixin text($infix: '') {

    // Responsive font sizes
    @each $size,
    $length in $spacers {
        @if $size>=3 {
            .txt#{$infix}-#{$size} {
                font-size: $length !important;
            }
        }
    }

    // Responsive text alignment
    .txt#{$infix}-right {
        text-align: right !important;
    }

    .txt#{$infix}-left {
        text-align: left !important;
    }

    .txt#{$infix}-center {
        text-align: center !important;
    }

    .txt#{$infix}-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@include text();

@each $breakpoint in map-keys($standard-breakpoints) {
    @include breakpoint($breakpoint) {
        $infix: get-breakpoint-infix($breakpoint);
        @include text($infix);
    }
}
