$standard-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px) !default;

$container-widths: (sm: 540,
    md: 720,
    lg: 960,
    xl: 1140,
    xxl: 1320) !default;

$font-family: // Cross-platform generic font family (default user interface font)
system-ui,
// Safari for macOS and iOS (San Francisco)
-apple-system,
// Windows
'Segoe UI',
// Android
Roboto,
// Basic web fallback
'Helvetica Neue',
Arial,
// Linux
'Noto Sans',
'Liberation Sans',
// Sans serif fallback
sans-serif,
// Emoji fonts
'Apple Color Emoji',
'Segoe UI Emoji',
'Segoe UI Symbol',
'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
monospace !default;

$light-weight: 300 !default;
$line-height: 1.5 !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$border-radius: rem(3) !default;
$border-width: 1px !default;
$border-widths: (1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px) !default;

// Colors
///////////////////////////////////////////////////////////////////////////////
$teal-dark: #289f93 !default;
$aqua: #91EEDA !default;
$blue: #283EA3 !default;
$navy: #202F72 !default;
$teal: #19E68C !default;
$green: #056952 !default;
$olive: #4B917D !default;
$lime: #1ED760 !default;
$yellow: #FCE54F !default;
$orange: #FF7439 !default;
$red: #E91429 !default;
$fuchsia: #F036A4 !default;
$purple: #503659 !default;
$maroon: #8A202B !default;
$white: #ffffff !default;
$silver: #d9d9d9 !default;
$gray: #7F7F7F !default;
$black: #000000 !default;
$font-color: $black !default;
$border-color: $silver !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(('aqua': $aqua,
        'blue': $blue,
        'navy': $navy,
        'teal': $teal,
        'green': $green,
        'olive': $olive,
        'lime': $lime,
        'yellow': $yellow,
        'orange': $orange,
        'red': $red,
        'fuchsia': $fuchsia,
        'purple': $purple,
        'maroon': $maroon,
        'white': $white,
        'silver': $silver,
        'gray': $gray,
        'black': $black),
    $colors);

$primary: $blue !default;
$secondary: $gray !default;
$success: $green !default;
$danger: $red !default;
$warning: $yellow !default;
$light: #f8f8f8 !default;
$dark: #333333 !default;
$muted: #b3b3b3 !default;

$themeColors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$themeColors: map-merge(('primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'danger': $danger,
        'warning': $warning,
        'info': $teal,
        'light': $light,
        'dark': $dark,
        'muted': $muted),
    $themeColors);

$col_count: 12;
$spacer: 1rem !default;
$spacers: () !default;
$displays: none,
inline,
inline-block,
block,
table,
table-row,
table-cell,
flex,
inline-flex !default;
$positions: (left: l,
    right: r,
    top: t,
    bottom: b) !default;

$spacers: map-merge(( // 0px
        0: 0,
        //  4px
        1: $spacer * 0.25,
        // 8px
        2: $spacer * 0.5,
        // 12px
        3: $spacer * 0.75,
        // 16px
        4: $spacer * 1,
        // 20px
        5: $spacer * 1.25,
        // 24px
        6: $spacer * 1.5,
        // 32px
        8: $spacer * 2,
        // 40px
        10: $spacer * 2.5,
        // 48px
        12: $spacer * 3,
        // 64px
        16: $spacer * 4,
        // 80px
        20: $spacer * 5,
        // 96px
        24: $spacer * 6,
        // 128px
        32: $spacer * 8,
        // 160px
        40: $spacer * 10,
        // 192px
        48: $spacer * 12,
        // 224px
        56: $spacer * 14,
        // 256px
        64: $spacer * 16),
    $spacers);

//root vars are being queried by name in the JS code. renaming these CSS vars will break JS code.
:root {
    --aqua:#{$aqua};
    --blue: #{$blue};
    --navy:#{$navy};
    --teal: #{$teal};
    --teal-dark: #{$teal-dark};
    --green:#{$green};
    --olive:#{$olive};
    --lime:#{$lime};
    --yellow: #{$yellow};
    --orange: #{$orange};
    --red: #{$red};
    --fuchsia:#{$fuchsia};
    --purple: #{$purple};
    --maroon:#{$maroon};
    --white: #{$white};
    --silver: #{$silver};
    --gray: #{$gray};
    --black: #{$black};
    --primary: #{$blue};
    --secondary: #{$gray};
    --success: #{$green};
    --danger: #{$red};
    --warning: #{$yellow};
    --info: #{$teal};
    --light: #{$light};
    --dark: #{$dark};
    --muted: #{$muted};
}
