// Breakpoints
$xlarge: 'only screen and (min-width: 1200px)' !default;
$xlarge2x: 'only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2)'!default;
$large: 'only screen and (min-width: 992px)' !default;
$large2x: 'only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2)' !default;
$medium: 'only screen and (min-width: 768px)' !default;
$medium2x: 'only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2)' !default;
$small: 'only screen and (min-width: 576px)' !default;
$small2x: 'only screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2)' !default;
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 2)' !default;


// Typography
$line-height: 1.5;

// MISC
$border-radius: rem(0);

// Colors
///////////////////////////////////////////////////////////////////////////////

$teal: #A8D7CE;
$blue: #008FD5;
$dark-blue: #626677;

$green: #4BA450;

$orange: #FF7D50;
$red: #F63837;

$white: #FFFFFF;
$off-white: #FCFAF8;
$gray: #F5F5F5;
$gray-dark: #E3E3E3;
$black: #282732;

$font-color: $black;


$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
        "dark-blue": $dark-blue,
        "green": $green,

        "orange": $orange,
        "red": $red,

        "white": $white,
        "off-white": $off-white,
        "gray": $gray,
        "gray-dark": $gray-dark,
        "black": $black
    ),
    $colors
);

$primary: $orange;
$secondary: $dark-blue;
$success: $green !default;
$danger: $red !default;

$themeColors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$themeColors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "danger":     $danger
  ),
  $themeColors
);
