@import 'normalize';

@import 'settings',
        'functions';

@import 'base/typography';

@import 'layout/grids';

@import 'components/forms',
        'components/buttons',
        'components/links',
        'components/lists',
        'components/tables';

@import 'mods/header',
        'mods/footer',
        'mods/loading',
        'mods/menu-button',
        'mods/modal',
        'mods/pagination';

* {
    box-sizing: border-box;
}

html, body {
    background-color:$white;
}

body {
    -webkit-overflow-scrolling: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    &.fixed {
        padding-top: rem(120);
    }
}

main {
    flex: 1 1 auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

hr {
    height: rem(1);
    background-color: $gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    border: none;
}

.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.indicator-list {
    line-height: 1.2;
    li {
        line-height: 1.2;
        margin-bottom: .75rem;
    }
}

.indicator {
    border-left: solid 3px transparent;
    padding-left: .5rem;
}

.indicator-success {
    border-color: #8EC648;
}

.indicator-danger {
    border-color: #DE1A22;
}

.address, .address p {
    line-height: 1.5;
}

.slider {
    max-width: rem(960);
    margin: 0 auto;

    position: relative;

    button {
        cursor: pointer;
        padding: 0;
        background: none;
        border: none;
        line-height: 1;
        font-size: 4rem;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        margin-top: -32px;
        display: block;
        color: $font-color;
        svg {
            display: block;
        }
    }

    .prev {
        left: 0;
        right: auto;
    }

    .next {
        right: 0;
        left: auto;
    }

    @media #{$small} {
        .prev {
            left: -2rem;
            right: auto;
        }

        .next {
            right: -2rem;
            left: auto;
        }
    }

    @media #{$medium} {
        .prev {
            left: -4rem;
            right: auto;
        }

        .next {
            right: -4rem;
            left: auto;
        }
    }
}

.slider .slide {
    img {
        display: block;
        margin: 0 auto;
    }
}


// Style Guide Styles

.swatch {
    max-width: 100%;
    width: rem(100);
    height: rem(100);
    margin: 0 auto;
}

@each $color, $value in $themeColors {
    .bg-#{$color} {
        background-color: $value;
    }
    .txt-#{$color} {
        color: $value;
    }
}

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }
    .txt-#{$color} {
        color: $value;
    }
}

.box, .box-first, .box-large, .box-nested, .box-row {
    padding: 1rem;
}

.box, .box-first, .box-large, .box-nested, .box-row {
    position: relative;
    box-sizing: border-box;
    min-height: 1rem;
    margin-bottom: 0;
    background: $primary;
    overflow: hidden;
    text-align: center;
    color: $white;
}

.box-first {
    background: $teal;
    border-color: $primary;
}

.box-nested {
    background: $secondary;
    border-color: $teal;
}

.box-large {
    height: 8rem;
}

.box-row {
    margin-bottom: 1rem;
}

code {

    font-size: 87.5%;
    color: $fuchsia;
    word-break: break-word;

}
