@import 'functions', 'settings';

@import 'base/base', 'base/typography';

@import 'layout/grids';

@import 'components/badge', 'components/flashes', 'components/forms', 'components/buttons', 'components/links',
    'components/lists', 'components/tables';

@import 'mods/breadcrumbs', 'mods/header', 'mods/footer', 'mods/loading', 'mods/menu-button', 'mods/modal',
    'mods/pagination', 'mods/sidebar';

.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

// Style Guide Styles

.swatch {
    max-width: 100%;
    width: rem(100);
    height: rem(100);
    margin: 0 auto;
}

@each $color, $value in $themeColors {
    .bg-#{$color} {
        background-color: $value;
        color: color-contrast($value) !important;
    }
    .txt-#{$color} {
        color: $value;
    }
}

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }
    .txt-#{$color} {
        color: $value;
    }
}

.box,
.box-first,
.box-large,
.box-nested,
.box-row {
    padding: 1rem;
}

.box,
.box-first,
.box-large,
.box-nested,
.box-row {
    position: relative;
    box-sizing: border-box;
    min-height: 1rem;
    margin-bottom: 0;
    background: $primary;
    overflow: hidden;
    text-align: center;
    color: $white;
}

.box-first {
    background: $teal;
    border-color: $primary;
}

.box-nested {
    background: $secondary;
    border-color: $teal;
}

.box-large {
    height: 8rem;
}

.box-row {
    margin-bottom: 1rem;
}

code {
    font-size: 0.875rem;
    color: $fuchsia;
    word-break: break-word;
}
